<div id="wrapper">
  <nav class="navbar navbar-default navbar-fixed-top navbar-global" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag("logo-lg.png", :alt => "attendance tracker") %></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <% if false %>
        <li class="list-label">My Events:</li>
        <% @admin_events.each do |event| %>
        <li class="active"><%= link_to event.name, event %></li>
        <% end %>
        <li class="list-label-b">Event's I am Attending:</li>
        <% @client_events.each do |event| %>
        <li class="active"><%= link_to event.name, event %></li>
        <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-user">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle user-dropdown" data-toggle="dropdown">
            <%= current_user.email %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>     
  <div id="page-wrapper">
    <div class="row">
    <div class="col-sm-12 main">
    <div class="row cont-row-b">
      <h3 class="sub-header"><%= @event.name %>
        <span class="event-links">
          <%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'Back', events_path %>
        </span>
      </h3>
      <p>
        <strong>Start:</strong>
        <%= @event.start %>
      </p>
      <p>
        <strong>End:</strong>
        <%= @event.end %>
      </p>
      <p style="margin-bottom:40px;">
        <strong>Beacon:</strong>
        <%= @event.beacon %>
      </p>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Admins:</th>
            </tr>
          </thead>
          <tbody>
            <% @event.admin_users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Attendees:</th>
            </tr>
          </thead>
          <tbody>
              <% @event.client_users.each do |user| %>
                <tr>
                  <td><%= user.email %></td>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row cont-row-b2">
      <div class="table-responsive">
        <% @event.sub_events.each do |sub_event| %>
          <h4><%= sub_event.date %></h4>

          <table class="table table-striped">
          <thead>
            <tr>
              <th align="left">Email:</th>
              <th align="left">Time In:</th>
              <th align="left">Time Out:</th>
              <th align="left">Status:</th>
            </tr>
          </thead>
          <tbody>
          <% sub_event.attendances.each do |attendance| %>
            <% if @event.client_users.include? attendance.user %>
              <tr>
                <td><%= attendance.user.email %></td>
                <td><%= attendance.in %></td>
                <td><%= attendance.out %></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
    </div>
  </div><!-- /.row -->
  </div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->